<div class="row" style="margin: 20px; height: 115px;">
  <div class="row col-md-3"></div>
  <div class="row col-md-6">
    <div ng-show="$ctrl.showProgressBar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active"></div>
      </div>
      <div class="row text-center" style="margin-left: 10px;">
        <span class="glyphicon glyphicon-pause" style="font-size: 3rem; cursor: pointer;" title="Pause" ng-click="$ctrl.pause()" ng-if="!$ctrl.paused"></span>
        <span class="glyphicon glyphicon-play" style="font-size: 3rem; cursor: pointer;" title="Resume" ng-click="$ctrl.resume()" ng-if="$ctrl.paused"></span>
        <span class="glyphicon glyphicon-remove col-md-offset-1" style="font-size: 3rem; cursor: pointer;" title="Cancel" ng-click="$ctrl.cancel()"></span>
      </div>
    </div>
    <div id="uploadWell" ng-hide="$ctrl.showProgressBar" class="well text-center">
      <form class="text-center">
        <label for="fileId" style="cursor: pointer;">
          Drop files here or click to select from your computer to upload.
          <input id="fileId" type="file" style="display: none;">
        </label>
      </form>
      <p style="margin: 2rem;">
        <small><label for="res" style="margin-right: 1rem;">Check this box to resume upload</label></small>
        <input id="res" type="checkbox" ng-model="$ctrl.isResume" ng-change="$ctrl.checked()">
      </p>
    </div>
  </div>
  <div class="row col-md-2 pull-left"></div>
</div>